<!-- -*- mode: xml -*- -->
<launch>
  <group ns="FleaMV">
    <param name="display" type="int" value="0"/>
    <group ns="left">
      <node name="left_dev" pkg="camera1394" type="camera1394_node"
	    respawn="false" output="screen" clear_params="true">
        <param name="video_mode" value="640x480_mono8"/>
        <param name="frame_rate" value="15.0"/>
        <param name="guid" value="00b09d01008c6584"/>
        <param name="bayer_pattern" value="rggb"/>
        <!-- <param name="bayer_method" value="Simple"/> -->
        <param name="frame_id" type="string" value="/left_mv_cam"/>
	<!--
        <param name="camera_info_url"
	       value="file:///$(find cr_capture)/launch/2010-04-20-19-14-52-stereo-left.yaml"/>
	-->
	<param name="camera_info_url"
	       value="file:///$(find cr_capture)/launch/2010-07-18-14-20-44-left.yaml"/>
        <param name="auto_white_balance" value="3"/> <!-- Manual(3) -->
        <param name="white_balance_BU" value="720"/>
        <param name="white_balance_RV" value="506"/>
      </node>
      <node name="proc" pkg="image_proc" type="image_proc" ns="camera"/>
    </group>
    <group ns="right">
      <node name="right_dev" pkg="camera1394" type="camera1394_node"
	    respawn="false" output="screen" clear_params="true">
        <param name="video_mode" value="640x480_mono8"/>
        <param name="frame_rate" value="15.0"/>
        <param name="guid" value="00b09d01008c6583"/>
        <param name="bayer_pattern" value="rggb"/>
        <!-- <param name="bayer_method" value="Simple"/> -->
        <param name="frame_id" type="string" value="/right_mv_cam"/>
	<!--
        <param name="camera_info_url"
	       value="file:///$(find cr_capture)/launch/2010-04-20-19-14-52-stereo-right.yaml"/>
	-->
	<param name="camera_info_url"
	       value="file:///$(find cr_capture)/launch/2010-07-18-14-20-44-right.yaml"/>
        <param name="auto_white_balance" value="3"/> <!-- Manual(3) -->
        <param name="white_balance_BU" value="720"/>
        <param name="white_balance_RV" value="506"/>
      </node>
      <node name="proc" pkg="image_proc" type="image_proc" ns="camera"/>
    </group>
  </group>
</launch>
