<!-- -*- mode: xml -*- -->
<launch>
  <node name="cr_capture_room" pkg="cr_capture" type="cr_capture"
	clear_params="true" output="screen">
    <remap from="~left/image" to="FleaMV/left/camera/image_rect_color"/>
    <remap from="~left/camera_info" to="FleaMV/left/camera/camera_info"/>
    <remap from="~right/image" to="FleaMV/right/camera/image_rect_color"/>
    <remap from="~right/camera_info" to="FleaMV/right/camera/camera_info"/>
    <!--
    <remap from="~range/image" to="RoomRangeSensor/sr4000/image_depth"/>
    <remap from="~range/camera_info" to="RoomRangeSensor/sr4000/camera_info"/>
    -->
    <remap from="~range" to="RoomRangeSensor/sr4000"/>
    <!-- <rosparam command="load" file="$(find cr_capture)/launch/2010-02-16-15-14-42-external.yaml"/> -->
    <!-- <rosparam command="load" file="$(find cr_capture)/launch/2010-04-20-19-14-52-external.yaml"/> -->
    <rosparam command="load"
	      file="$(find cr_capture)/launch/2010-07-18-14-00-26-external.yaml"/>
    <!-- <param name="max_range" value="5.0"/> -->
    <param name="max_range" value="9.68"/>
    <param name="calculation_pixel" value="false"/>
    <param name="use_filter" value="false"/>

    <!-- -->
    <param name="use_images" value="true"/>
    <param name="intensity_threshold" value="2"/> 
    <param name="confidence_threshold" value="200"/>
  </node>
</launch>
