<!-- -*- mode: xml -*- -->
<launch>
  <machine name="localhost" address="localhost"/>
  <machine name="biclops_cont" address="maca"
           user="leus" password="leus"
	   ros-root="$(env ROS_ROOT)"
	   ros-package-path="$(env ROS_PACKAGE_PATH)">
    <env name="PATH" value="$(env PATH)"/>
  </machine>
  <!-- <machine name="kombu" address="kombu"
		user="leus" password="leus"/> -->
  <machine name="kombu" address="localhost"/>
</launch>
