<!-- starts a checkerboard detector and camera -->
<launch>
  <master auto="start"/>
  <!-- <machine name="localhost" address="localhost" default="true"/>  -->

  <param name="display" type="int" value="1"/>
  <param name="rect_size_x" type="double" value="0.108"/>
  <param name="rect_size_y" type="double" value="0.108"/>
  <param name="grid_size_x" type="int" value="6"/>
  <param name="grid_size_y" type="int" value="8"/>

  <node name="calibrator" pkg="checkerboard_detector"
	type="checkerboard_calibration" respawn="true" output="screen">
    <!-- <remap from="image" to="/image_color"/> -->
  </node>
</launch>
